<!-- <pre>{{projects | json}}</pre>  -->
<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>Projects</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <!--
    <pre>{{projects | json}}</pre>
    -->
    <mat-list>
      <mat-list-item
        *ngFor="let project of projects"
        (click)="selected.emit(project)"
      >
        <h3  mat-line>
          <!-- PROJECT DETAILS -->
          {{project.title}}
        </h3>
        <p mat-line>
          <!-- PROJECT DETAILS -->
          {{project.details}}
        </p>
        <!-- after call deleteProject(project) it calls $event.stopImmediatePropagation() -->
        <!-- bc if not it will bubble up and do the (click)="selectProject(project)" above in list -->
        <button
          *ngIf="!readonly" mat-icon-button
          (click)="deleted.emit(project);$event.stopImmediatePropagation()"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
